<div class="fixed inset-0 overflow-y-auto" style="background-image: url(assets/img/bkimg.png); background-size:cover; background-repeat: no-repeat;">
  <div
    class="flex flex-col items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <div
      class="inline-block align-bottom bg-secondary rounded-lg text-left overflow-hidden transform transition-all sm:my-4 sm:align-middle sm:max-w-lg sm:w-full bg-white"
    >
      <img src="assets/img/404.jpg" alt="" />
    </div>
  </div>
</div>
