<!-- <br />
<br />
<br /> -->
<!-- <section class="bg-white dark:bg-gray-900">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md pt-10">
    <h2
      class="md:mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
    >
      Feedback
    </h2>
    <p
      class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl"
    >
      If you have any issue regarding Foods and Canteen management, Let us know.
    </p>
    <form action="#" class="space-y-8">
      <div>
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Your email</label
        >
        <input
          type="email"
          id="email"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          placeholder="name@flowbite.com"
          required
        />
      </div>
      <div>
        <label
          for="subject"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Issue</label
        >
        <input
          type="text"
          id="subject"
          class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          placeholder="Let us know how we can help you"
          required
        />
      </div>
      <div class="sm:col-span-2">
        <label
          for="message"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
          >Your message</label
        >
        <textarea
          id="message"
          rows="6"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="Leave a comment..."
        ></textarea>
      </div>
      <button
        class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
      >
        Send Feedback
      </button>
    </form>
  </div>
</section> -->



<div class="w-[100%] flex flex-col items-center bg-[#3D484B]">

  <nav class="w-[100%] h-[40pt] p-[1.8rem] flex items-center justify-between border-b-2 border-greyss bg-[#3D484B]">
    <div class="text-blackes h-[18pt] w-[18pt]">
      <button type="button" (click)="auth.backbutton()">
        <fa-icon class="fa-lg" [icon]="backArrow"></fa-icon>
      </button>
    </div>
    <div class="w-[194pt]"><h3 class="text-[18pt] text-[#FFFFFF] font-roboto-black">Feedback</h3></div>
  </nav> 

  <form action="#" class="w-[95%] flex flex-col items-center mt-[3rem]">
    <div class="w-[95%]">
      <label for="subject" class="text-[14pt] text-[#D4D4D4] font-roboto-regular">Subject</label>
      <input type="text" id="subject" class="p-3 w-[100%] text-[16pt] text-Greyess outline-none rounded-[4pt] h-[40pt] border-2 border-greyss " required/>
    </div>
    <div class="w-[95%] mt-[0.5rem]">
      <label for="message" class="mb-2 text-[14pt] font-roboto-regular text-[#D4D4D4] ">Message</label>
      <textarea id="message" rows="10"
        class="block outline-none  p-[1rem] w-[100%] text-Greyess text-[16pt] rounded-[4pt] shadow-sm border-2 border-greyss    focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Leave a comment...">
      </textarea>
    </div>
    <button class="mt-[13%] mb-[5rem] h-[44pt] w-[80%] rounded-[4pt] bg-orangess  flex justify-center items-center font-roboto-regular text-white outline-none">
      Send Feedback
    </button>
  </form>

</div>