<div class="h-[63pt] w-[375pt] fixed bottom-[0rem] items-center justify-evenly flex bg-white">
    <div class="h-[50pt] flex flex-col items-center w-[80pt]"><img src="../../../assets/img/home.png" height="40pt" width="40pt" alt=""> <p class="text-orangess font-bold text-[14pt]">Dashboard</p></div>
    <div class="h-[50pt] flex flex-col items-center w-[80pt]"><img src="../../../assets/img/Male User.png" height="40pt" width="40pt" alt=""><p class="text-greyss font-bold text-[14pt]">Account</p></div>
</div>