<div class="h-[63pt] w-[100%] fixed bottom-[0rem] items-center justify-evenly flex bg-[#3B4244] border-t-2 border-[##3B4244] ">
    <div class="h-[45pt] flex flex-col items-center w-[70pt] p-[5px]" [routerLink]="'/dashbord-modal'" > <img src="../../../assets/img/Home.png" height="30pt" width="30pt" alt="" ><p class="text-orangess font-roboto-black text-[14pt]">Dashboard</p></div>
    <div class="h-[45pt] flex flex-col items-center w-[70pt] p-[5px]" [routerLink]="'/Account'"><img src="../../../assets/img/Male User.png" height="30pt" width="30pt" alt="" ><p class="text-mediumGreys font-bold text-[14pt]">Account</p></div>
</div>

<!-- <img src="../../../assets/img/Home.png" height="30pt" width="30pt" alt="" > -->
<!-- <img src="../../../assets/img/Home.png" height="40pt" width="40pt" alt=""> -->
<!-- [routerLink]="['/dashbord-modal']" -->
<!-- [routerLink]="['/Account']" -->