<!-- Login Form -->

<!-- Login Form -->

<!-- <app-alert *ngIf="showAlert" [AlertType]="AlertType">
  {{ alertMsg }}
</app-alert> -->

<!-- Auth Modal -->

<!-- <div class="fixed inset-0 overflow-y-auto" id="modal">
  <div
    class="flex flex-col items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <div class="self-end m-1 mr-5">
      <button
        type="button"
        class="text-cyan-700 border border-cyan-700 hover:bg-cyan-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-centerdark:text-blue-500"
        (click)="auth.backbutton()"
      >
        <fa-icon class="fa-lg" [icon]="backArrow"></fa-icon>
        <span class="sr-only">Icon description</span>
      </button>
    </div> -->

<!-- rounded tab shadow -->
<!-- <div
      class="inline-block align-bottom bg-secondary rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-4 sm:align-middle sm:max-w-lg sm:w-full bg-white"
    > -->
<!-- Add margin if you want to see some of the overlay behind the modal-->
<!-- <div class="py-4 text-left px-12 bg-gray-100 mt-2">
        <p class="text-2xl font-bold text-center">Forgot Password</p>
        Title-->
<!-- <div class="flex justify-between items-center pb-4">
          
        </div> -->

<!-- <form> -->
<!-- Email -->
<!-- <div class="mb-3">
            <label class="inline-block mb-2">Email</label>
            <app-input type="email" placeholder="Enter Email"> </app-input>
          </div>
          <button
            type="submit"
            class="block w-full bg-cyan-400 text-white py-1.5 px-3 rounded transition hover:bg-cyan-500 disabled:opacity-50 disabled:bg-cyan-400"
          >
            Send Reset Link
          </button>
        </form>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="w-[100%] sm:h-[100vh] md:h-[98vh] flex flex-col justify-center items-center bg-[#3D484B]">

  <nav class="w-[100%] sm:h-[40pt] md:h-[70pt] p-[1.8rem] flex items-center justify-between border border-greyss bg-[#3D484B] sm:mt-[-40%] sm:mb-[5%]">
    <div class="text-blackes h-[20pt] w-[20pt]">
      <button type="button" (click)="auth.backbutton()">
        <fa-icon class="fa-lg text-white absolute top-[2.2%]" [icon]="backArrow"></fa-icon>
      </button>
    </div>
    <div class="sm:w-[90%] md:w-[95%]">
      <h3 class="sm:text-[16.5pt] md:text-[22pt] text-[#FFFFFF] font-roboto-black">Forgot Password</h3>
    </div>
  </nav>

 
</div> -->

<div
  class="modal"
  class="disable-scroll w-[100%] h-[105vh] flex flex-col justify-center items-center absolute sm:top-[-2%] md:top-[-10%] sm:right-[-1%] rounded-[8pt] z-[999] p-4 overlay"
>
  <div
    class="w-[250pt] sm:p-[6%] sm:h-[250pt] md:h-[170pt] md:w-[350pt] sm:p-[1rem] md:p-[2rem] bg-[#475356] rounded-[8pt] sm:mb-[10%]"
  >
    <div class="flex flex-col items-center sm:mt-[-3%]">
      <img
        class="m-[4%]"
        src="../../../assets/img/forgot-password-icon.svg"
        alt=""
        height="10%"
        width="10%"
      />
      <button class="modal-close-button" (click)="close()">&#x2716;</button>

      <p class="sm:text-[14pt] md:text-[22pt] text-[#FFFFFF] font-roboto-black">
        Forgot Password
      </p>
      <pre
        class="text-[13pt] sm:mt-[5%] md:text-[20pt] font-roboto-regular text-[#D4D4D4]"
      >
Enter your email and we'll send you 
       a link  to reset your password</pre
      >
      <div class="w-[90%] sm:mt-[6%]">
        <label
          for="subject"
          class="text-[13pt] text-[#D4D4D4] font-roboto-regular"
          >Email <span class="text-[#FF2F2F]">*</span>
        </label>
      </div>
      <form (ngSubmit)="reset()">
        <app-input
          [control]="email"
          type="text"
          placeholder="Enter your Email"
          class="h-[40pt] md:h-[60pt] w-[100%]"
        ></app-input>

        <button
          type="submit"
          class="sm:h-[35pt] xsm:h-[30pt] md:h-[80pt] sm:w-[100%] xsm:mt-[50%] xsm:w-[97%] md:w-[100%] md:p-[0.1rem] bg-orangess rounded-[4pt] sm:text-[14pt] md:text-[17pt] font-roboto-regular sm:mt-[8%] text-white md:mt-[22rem] sm:mb-[10%]"
        >
          Send Reset Link
        </button>
      </form>
    </div>
  </div>
</div>
