<div class="w-[100%] sm:h-[100%] md:h-[105vh] flex flex-col items-center bg-[#3D484B]">
    <nav class="w-[100%] h-[40pt] p-[1.8rem] flex items-center justify-between border border-greyss bg-[#3D484B]">
      <div class="sm:h-[18pt] sm:w-[18pt] md:h-[20pt]">
        <!-- <button type="button" (click)="auth.backbutton()">
          <fa-icon class="fa-lg" [icon]="backArrow"></fa-icon>
        </button> -->
      </div>
      <div class="sm:w-[90%] md:w-[95%] flex justify-between items-center">
        <h3 class="text-[14pt] text-[#FFFFFF] font-roboto-black">Add New Item</h3>
      </div>
    </nav>
    <div class="h-[98vh] w-[100%] flex items-center flex-col p-1">
        <div class="input-box mb-[2%]">
          <div>
            <label 
           class="sm:text-[14pt] md:text-[20pt] text-[#D4D4D4] font-roboto-regular mb-[2rem]"
           >Adding to</label>
            <select id="title" class="p-2.5 bg-[white] h-[30pt] w-[100%] text-[#fc8019] sm:text-[11pt] md:text-[13pt] outline-none rounded-[4pt] border-2 border-[#606161]  ">
              <option>Snacks</option>
              <option>Breakfast</option>
              <option>Lunch</option>
            </select>
          </div>
        <div>
          <label 
          class="sm:text-[14pt] md:text-[20pt] text-[#D4D4D4] font-roboto-regular mb-[2rem]"
          >Name</label
        >
        <input type="text"  placeholder="Crispy Corn" id="title" class="p-3 bg-[white] h-[30pt] w-[100%] text-[#fc8019] sm:text-[11pt] md:text-[13pt] outline-none rounded-[4pt] border-2 border-[#606161]  ">
    </div>
    <div>
        <label 
        class="sm:text-[14pt] md:text-[20pt] text-[#D4D4D4] font-roboto-regular mb-[2rem]"
        >Price</label
      >
      <input type="text"  placeholder="" id="title" class="p-3 bg-[white] h-[30pt] w-[100%] text-[#fc8019] sm:text-[11pt] md:text-[13pt] outline-none rounded-[4pt] border-2 border-[#606161]  ">
  </div>
  <div>
    <label 
    class="sm:text-[14pt] md:text-[20pt] text-[#D4D4D4] font-roboto-regular mb-[2rem]"
    >Select Icon</label
  >
  <select id="title" class="p-2.5 bg-[white] h-[30pt] w-[100%] text-[#fc8019] sm:text-[11pt] md:text-[13pt] outline-none rounded-[4pt] border-2 border-[#606161]  ">
    <option>Snacks</option>
    <option>Breakfast</option>
    <option>Lunch</option>
  </select>
</div>
      </div>
    
  
      
    </div>
  
    <!-- menu part -->
  
    <div>
      
      
      
      <div>
        <button type="submit"
          class=" sm:mt-[20%]  h-[110%] md:mt-[20%] sm:text-[12pt] md:text-[22pt] w-[95%] sm:w-[100%] bg-orangess text-white py-1 px-3 rounded transition hover:bg-orange-500 font-roboto-regular text-[16pt]">
          Save Menu
        </button>
  
      </div>
    </div>
  
  </div>


