<div class="w-[100%] md:h-[100vh] sm:h-[100%] flex flex-col items-center bg-[#3D484B]" style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">

    <nav
        class="w-[100%] sm:h-[40pt] md:h-[70pt] p-[1.8rem] flex items-center justify-between border border-greyss bg-[#3D484B]">
        <div class="text-blackes h-[18pt] w-[20pt]">
            <button type="button" (click)="auth.backbutton()">
                <fa-icon class="fa fa-lg text-white" [icon]="backArrow"></fa-icon>
            </button>
        </div>
        <div class="sm:w-[90%] md:w-[95%]">
            <h3 class="sm:text-[16pt] md:text-[22pt] text-[#FFFFFF] font-roboto-black">Employee Feedback</h3>
        </div>
    </nav>
    <div class="flex justify-center text-[#FFFFFF] w-[100%]">
        <div class="mt-[5%] flex justify-center p-4">
            <div class="h-[180pt] w-[180pt]">
                <img src="../../../assets/img/employee-feedback-icon-1.svg" alt="">
            </div>
            <div class="text-[12.5pt] ml-[2%]">

                <p>
                <h4 class="heading">Sera Jones</h4>
                Business Analyst <br>
                NewVision <br>
                <br>
                Subject- Uncooked Meal Complaint <br>
                Dear Manager,
                <br><br>
                I ordered the [dish name] at your canteen, but it was uncooked and potentially harmful to my health. As a regular customer, I hope you will investigate what went wrong and take measures to prevent such incidents from happening again. <br>
                <br>
                Thank you. <br>
                Sincerely, <br>
                Sera Jones <br>
                <div class="absolute top-[11.5%] right-[5%]">
                    <p>4/3/23</p>
                </div>
            </div>
            

        </div>
    
    </div>
    <hr>
    <div class="flex justify-center text-[#FFFFFF] w-[100%]">
        <div class="mt-[5%] flex justify-center p-4">
            <div class="h-[180pt] w-[180pt]">
                <img src="../../../assets/img/employee-feedback-icon-1.svg" alt="">
            </div>
            <div class="text-[12.5pt] ml-[2%]">

                <p>
                <h4 class="heading">Edward Kenway</h4>
                Product Manager <br>
                NewVision <br>
                <br>
                Subject- Complaint about bad-tasting food <br>
                Dear Manager,
                <br><br>
                Dear Manager, I ordered the [dish name] at your canteen, but it had a very unpleasant taste and was not enjoyable to eat. As a regular customer, I hope you will investigate the matter and take appropriate steps to ensure that such incidents do not occur again in the future. <br>
                <br>
                Thank you. <br>
                Sincerely, <br>
                Edward Kenway <br>
                <div class="absolute top-[63%] right-[5%]">
                    <p>4/3/23</p>
                </div>
            </div>
            

        </div>
    
    </div>
    <hr>
    <div class="flex justify-center text-[#FFFFFF] w-[100%]">
        <div class="mt-[5%] flex justify-center p-4">
            <div class="h-[180pt] w-[180pt]">
                <img src="../../../assets/img/employee-feedback-icon-2.svg" alt="">
            </div>
            <div class="text-[12.5pt] ml-[2%]">

                <p>
                <h4 class="heading">Desmond Miles</h4>
                Technical Manager <br>
                NewVision <br>
                <br>
                Subject- Complaint about bad-tasting food <br>
                Dear Manager,
                <br><br>
                Dear Manager, I ordered the [dish name] at your canteen, but it had a very unpleasant taste and was not enjoyable to eat. As a regular customer, I hope you will investigate the matter and take appropriate steps to ensure that such incidents do not occur again in the future. <br>
                <br>
                Thank you. <br>
                Sincerely, <br>
                Edward Kenway <br>
                <div class="absolute top-[119%] right-[5%]">
                    <p>4/3/23</p>
                </div>
            </div>
            

        </div>
    
    </div>
    
    



</div>