<br />
<br />
<br />
<div class="mx-2">
  <div
    id="toast-message-cta"
    class="w-full max-w-full p-1 text-gray-500 bg-white rounded-lg shadow dark:bg-gray-800 dark:text-gray-400"
    role="alert"
  >
    <div class="flex">
      <div class="ml-3 text-sm font-normal">
        <span class="mb-1 text-sm font-semibold text-gray-900 dark:text-white"
          >Welcome</span
        >
        <div class="mb-2 text-sm font-normal"></div>
      </div>
    </div>
  </div>
</div>

<div class="md:grid grid-cols-2">
  <div class="shadow-lg rounded-lg mt-3 mb-2 mx-2 overflow-hidden">
    <canvas class="pb-2 bg-gray-100" id="chartDoughnut"></canvas>
  </div>
</div>
