<!-- [ngClass]="
'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')
" -->

<button
  *ngIf="slider"
  [ngClass]="{
    hidden:
      slider.track.details.slides.length - 2 === currentSlide ||
      slider.track.details.slides.length === 1
  }"
  (click)="slider.prev()"
  type="button"
  class="carousel-control-prev absolute top-0 left-0 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
  data-carousel-prev
>
  <span
    class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-cyan-400 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none"
  >
    <svg
      aria-hidden="true"
      class="w-5 h-5 text-white sm:w-6 sm:h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 19l-7-7 7-7"
      ></path>
    </svg>
    <span class="sr-only">Previous</span>
  </span>
</button>
