<div class="mx-2 shadow-lg bg-gray-100">
  <div
    id="toast-message-cta"
    class="w-full max-w-full p-1 text-gray-500 bg-gray-100 rounded-lg shadow"
    role="alert"
  >
    <div class="flex">
      <div class="ml-3 text-sm font-normal">
        <span class="mb-1 text-sm font-semibold text-gray-900"
          >Welcome {{ userName }}</span
        >

        <div class="mb-2 text-sm font-normal">
          Good people, good food, good time.
        </div>
      </div>
    </div>
  </div>
</div>
