<!-- Header -->
<header id="header" class="w-full z-10 fixed shadow-lg">
  <nav
    class="w-full fixed flex justify-start items-center bg-cyan-400 py-4 px-4"
  >
    <!-- App Name -->
    <!-- <a class="text-3xl text-white font-bold uppercase mr-4 justify-end">Canteen</a> -->
    <fa-icon class="fa-2xl text-gray-200" [icon]="userIcon"></fa-icon>

    <div class="flex flex-grow justify-end items-end">
      <!-- Primary Navigation -->
      <ul class="flex flex-row mt-1">
        <!-- Navigation Links -->
      </ul>
      <div
        [ngClass]="{ 'on-ham': sidebar.onHam}"
        class="ham"
        (click)="toggleHam($event)"
      >
        <div class="bar"></div>
      </div>
    </div>
  </nav>
</header>

<app-sidebar *ngIf="sidebar.isSidebarVisible$"></app-sidebar>