<!-- Header -->
<header id="header" class="w-full z-10 fixed shadow-lg">
  <nav
    class="w-full fixed flex justify-start items-center bg-cyan-400 py-4 px-4"
  >
    <a href="#" (click)="sidebar.toggleUserTab()">
      <fa-icon class="fa-2xl text-gray-200" [icon]="userIcon"></fa-icon>
    </a>

    <div class="flex flex-grow justify-end items-end">
      <!-- Primary Navigation -->
      <ul class="flex flex-row mt-1 max-sm:hidden">
        <li class="nav-item pr-4">
          <a
            class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0"
            href=""
            >Dashboard</a
          >
        </li>
        <li class="nav-item pr-4">
          <a
            class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0"
            routerLink="/booking"
            >Booking</a
          >
        </li>
        <li class="nav-item pr-4">
          <a
            class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0"
            routerLink="/feedback"
            >Feedback</a
          >
        </li>
        <!-- Navigation Links -->
      </ul>
      <div class="md:hidden">
        <div
          [ngClass]="{ 'on-ham': sidebar.onHam }"
          class="ham"
          id="ham"
          (click)="toggleHam($event)"
        >
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </nav>
</header>

<app-sidebar *ngIf="sidebar.isSidebarVisible$"></app-sidebar>
<app-user-tab *ngIf="sidebar.isUserTabVisible"></app-user-tab>
