<app-alert *ngIf="showAlert"  [AlertType]="AlertType">
  {{alertMsg}}
 </app-alert>
<form>
  <!-- Name -->
  <div class="mb-3">
    <label class="inline-block mb-2">Name</label>
    <app-input [control]="username"  placeholder="Enter Name"> </app-input>
    
  </div>
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <app-input  [control]="email" placeholder="Enter Email"> </app-input>
  </div>
  
  <div class="mb-3">
    <label class="inline-block mb-2">Organization</label>
    <select
      name="Organization"
      id=""
      class=" form-select-lg mb-3 block w-full px-3 py-1.5 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-cyan-400 text-black"
    >
      <option disabled selected value="Select Organiztion">
        Select Organiztion
      </option>
      <option *ngFor="let m of OrgList">{{m.orgName}}</option>
      <!-- <option value="New Vision">Core Card</option>
      <option value="New Vision">GTS</option> -->
    </select>
  </div>
  <!-- Employee Id -->
  <div class="mb-3">
    <label class="inline-block mb-2">Employee Id</label>
    <app-input  [control]="EmployeeId" type="text" placeholder="Enter Employee Id"> </app-input>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <app-input type="password" [control]="password" placeholder="Enter Password"> </app-input>
    
  </div>
  <!-- Confirm Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Confirm Password</label>
    <app-input type="password" [control]="confirm_password" placeholder="Enter Confirm Password">

    </app-input>
    
  </div>

  <button
  (click)="registeration()"
    type="submit"
    class="block w-full bg-cyan-400 text-white py-1.5 px-3 rounded transition hover:bg-cyan-500"
  >
    Register
  </button>
</form>
