<div class="flex w-[100%] justify-evenly items-center h-[40pt] p-[2rem] mt-[2rem] mb-[2rem]">
  <button (click)="toggleDay('Today')" [ngClass]="{'orange' : toggleToday}" class="bg-greyss text-[16pt] text-white text-center w-[105pt] items-center justify-center h-[28pt] rounded-[5pt]">Today</button>
  <button (click)="toggleDay('Tomorrow')" [ngClass]="{'orange' : toggleTomorrow}" class="bg-greyss text-[16pt] text-white text-center w-[105pt] h-[28pt] rounded-[5pt]">Tomorrow</button>
</div>

<!-- <div class="flex justify-end mt-[5rem] mx-1 my-1 border-2 border-red-600">
  <span class="mr-2 text-sm font-medium text-gray-900">Today</span>

  <label class="inline-flex relative items-center cursor-pointer">
    <input
      type="checkbox"
      value=""
      class="sr-only peer"
      (click)="toggleDay()"
      [checked]="!(foodService.selectedDay$| async)"
    />
    <div
      class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600"
    ></div> -->
    <!-- <span class="ml-2 mr-2 text-sm font-medium text-gray-900">Tomorrow</span> -->

  <!-- </label>
  <span class="ml-2 mr-2 text-sm font-medium text-gray-900">Tomorrow</span>
</div> -->
