.img{
    @apply w-[10%] pt-3 ml-[22%] shadow-sm rounded-sm lg:ml-[22%]
}
.text{
    @apply font-serif ml-1 pt-4 text-lg  text-gray-900
}
.profile{
    @apply  lg:pt-[2%] justify-center 
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;

    background-image: url('https://img.freepik.com/free-photo/blue-toned-collection-paper-sheets-with-copy-space_23-2148320445.jpg?w=826&t=st=1676613372~exp=1676613972~hmac=8d426ec83be949fed49d1b70c10716ade1188a85d94ff0fa12345ddc1455b8bf'); 
    
  }
  p{
    font-family: Lato;
  }
  
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .hoverable{
    position: relative;
    display: block;
    cursor: pointer;
    height: 200px;
    width: 200px;
    border: 5px solid #000;
    border-radius: 50%;
  }
  .hoverable .hover-text{
    position: absolute;
    display: none;
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);   
    z-index: 2;
  }
  .hoverable .background{
    position: absolute;
    display: none;
    top: 0;
    left:  0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
  }
  .hoverable:hover .hover-text{
    display: block;
  }
  .hoverable:hover .background{
    display: block;
  }
  
  #fileInput{
    display: none;
  }