<!-- Login Form -->

<!-- <app-alert *ngIf="showAlert" [AlertType]="AlertType">
  {{ alertMsg }}
</app-alert> -->

<!-- Auth Modal -->

<!-- <div class="fixed inset-0 overflow-y-auto" id="modal">
  <div
    class="flex flex-col items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0" -->

<!-- <div class="self-end m-1 mr-5">
      <button
        type="button"
        class="text-cyan-700 border border-cyan-700 hover:bg-cyan-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-centerdark:text-blue-500"
        (click)="auth.backbutton()"
      >
        <fa-icon class="fa-lg" [icon]="backArrow"></fa-icon>
        <span class="sr-only">Icon description</span>
      </button>
    </div> -->

<!-- rounded tab shadow -->
<!-- <div
      class="inline-block align-bottom bg-secondary rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-4 sm:align-middle sm:max-w-lg sm:w-full bg-white"
    >
      Add margin if you want to see some of the overlay behind the modal
      <div class="py-4 text-left px-12 bg-gray-100 mt-2">
        <p class="text-2xl font-bold text-center">Change Password</p>
        Title
        <div class="flex justify-between items-center pb-4">
          Modal Close Button
        </div>

        <form>
          <div class="mb-3">
            <label class="inline-block mb-2">Current Password</label>

            <app-input type="password" placeholder="Enter Current Password">
            </app-input>
          </div>
          <div class="mb-3">
            <label class="inline-block mb-2">New Password</label>
            <app-input type="password" placeholder="Enter Current Password">
            </app-input>
          </div>
          <div class="mb-3">
            <label class="inline-block mb-2">Confirm New Password</label>
            <app-input type="password" placeholder="Enter Current Password">
            </app-input>
          </div>
          <button
            type="submit"
            class="block w-full bg-cyan-400 text-white py-1.5 px-3 rounded transition hover:bg-cyan-500 disabled:opacity-50 disabled:bg-cyan-400"
          >
            Send Reset Link
          </button>
        </form>
      </div>
    </div>
  </div>
</div> -->







<div class="w-[100%] sm:h-[100%] md:h-[102vh] flex flex-col items-center bg-[#3D484B]">

  <nav
    class="w-[100%] sm:h-[40pt] md:h-[42pt] p-[1.8rem] xsm:h-[38pt] flex items-center justify-between border border-greyss bg-[#3D484B]">
    <div class="sm:h-[20pt] sm:w-[18pt] md:h-[20pt]">
      <button type="button" (click)="auth.backbutton()">
        <fa-icon class="fa-lg" [icon]="backArrow"></fa-icon>
      </button>
    </div>
    <div class="sm:w-[90%] xsm:w-[83%] md:w-[95%]">
      <h3 class="xsm:text-[14pt] sm:text-[17pt] text-[#FFFFFF] font-roboto-black">Change Password</h3>
    </div>
  </nav>

  <form class="w-[100%] xsm:h-[100vh]  sm:h-[100%] md:h-[105pt] flex flex-col items-center p-[1.5rem]">
    <div class="sm:mt-[1rem] sm:w-[94%] xsm:w-[97%] xsm:mt-[2rem] md:w-[95%] relative">
      <label class="sm:text-[13pt] md:text-[17pt]  text-[#D4D4D4] font-roboto-regular sm:mb-2 md:mb-[5rem]">Current
        Password <span class="text-[#FF2F2F]">*</span></label>
      <app-input [type]="changetype?'password':'text'" type="password"
        class="w-[100%] sm:h-[40pt] md:h-[50pt] text-darkgreyss rounded-[4pt] bg-white outline-none"></app-input>
      <!-- <div class="absolute xsm:top-[60%] sm:top-[3rem] md:top-[3rem] xsm:right-[1rem] sm:right-[1rem] md:right-[2.5rem]" (click)="passwordHide()"><img src="../../../assets/img/awesome-eye-slash.svg" alt=""></div> -->
      <span class="eyeIcon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
    </div>
    <div class="sm:mt-[2rem] xsm:mt-[2rem] xsm:w-[97%] sm:w-[94%] md:w-[95%] relative">
      <label class="sm:text-[13pt] md:text-[18pt] text-[#D4D4D4] font-roboto-regular">New Password <span
          class="text-[#FF2F2F]">*</span> </label>
      <app-input [type]="changetype?'password':'text'" type="password"
        class="w-[100%] sm:h-[40pt] md:h-[50pt] text-darkgreyss rounded-[4pt]"></app-input>
      <!-- <div class="absolute xsm:top-[60%] sm:top-[3rem] md:top-[3rem] sm:right-[1rem] xsm:right-[1rem] md:right-[2.5rem] " (click)="passwordHide()"><img src="../../../assets/img/awesome-eye-slash.svg" alt=""></div> -->
      <span class="eyeIcon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
    </div>
    <div class="sm:mt-[2rem] xsm:mt-[2rem] sm:w-[94%] xsm:w-[97%] md:w-[95%] relative">
      <label class="sm:text-[13pt] md:text-[18pt] text-[#D4D4D4] font-roboto-regular">Confirm New Password <span
          class="text-[#FF2F2F]">*</span> </label>
      <app-input type="password" [type]="changetype?'password':'text'"
        class="w-[100%] h-[40pt] text-darkgreyss rounded-[4pt] mt-[1rem]">
      </app-input>
      <!-- <div class="absolute xsm:top-[60%] sm:top-[3rem] md:top-[3rem] sm:right-[1rem] xsm:right-[1rem] md:right-[2.5rem]" (click)="passwordHide()"><fa-icon class="fa-lg h-[10pt]" [icon]="eye"></fa-icon></div> -->
      <span class="eyeIcon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
    </div>
    <button type="submit"
      class="sm:h-[35pt] xsm:h-[30pt] md:h-[80pt] sm:w-[90%] xsm:mt-[50%] xsm:w-[97%] md:w-[90%] md:p-[0.1rem] bg-orangess rounded-[4pt] sm:text-[14.5pt] md:text-[17pt] font-roboto-regular text-white sm:mt-[100%] md:mt-[22rem]">
      Change Password
    </button>
    <!-- <div class="mt-[1rem] xsm:mt-[0.5rem]">
      <p class="sm:text-[13pt] md:text-[20pt] text-orangess font-roboto-regular" routerLink="/forgotPassword">Forgot Password</p>
    </div> -->
    <div
      class="xsm:w-[150pt] xsm:mt-[0.8rem] flex items-center justify-between sm:w-[280pt] sm:p-[2rem] sm:h-[10pt] sm:mb-[1rem] sm:mt-[-0.2rem] md:w-[405pt] md:mt-[1rem]">
      <div class="sm:h-[20pt] xsm:w-[100pt] sm:w-[194pt] md:w-[280pt]">
        <p class="text-[#FC8019] sm:ml-[35%] font-roboto-regular sm:text-[14pt] md:text-[19pt]"
          (click)="confirmModal()">Forgot Password</p>
      </div>
    </div>
    <div *ngIf="modal"
      class="w-[100%] h-[100%] flex flex-col justify-center items-center bg-transparent absolute sm:top-[-2%] md:top-[-10%] rounded-[8pt] z-[999] p-4 ">
      <div
        class="w-[250pt] sm:p-[6%] sm:h-[250pt] md:h-[170pt] md:w-[350pt] sm:p-[1rem] md:p-[2rem] bg-[#475356] rounded-[8pt]">
        <div class="flex flex-col items-center">
          <fa-icon class="fa-lg" [icon]="circleEx"></fa-icon>

          <p class="sm:text-[14pt] md:text-[22pt] text-[#FFFFFF] font-roboto-black">Forgot Password</p>
          <pre class="text-[13pt] sm:mt-[5%] md:text-[20pt] font-roboto-regular text-[#D4D4D4]">Enter your email and we'll send you 
    a link  to reset your password</pre>
          <div class="w-[95%] sm:mt-[6%]">
            <label for="subject" class="text-[13pt] text-[#D4D4D4]  font-roboto-regular">Email <span
                class="text-[#FF2F2F]">*</span> </label>
            <input type="text" id="subject"
              class="p-3 w-[100%] sm:mt-[2%] sm:mb-[3%] sm:text-[14pt] md:text-[13pt] text-Greyess outline-none rounded-[4pt] h-[30pt] border-2 border-greyss "
              required />
          </div>
          <button type="submit"
            class="sm:h-[35pt] xsm:h-[30pt] md:h-[80pt] sm:w-[95%] xsm:mt-[50%] xsm:w-[97%] md:w-[90%] md:p-[0.1rem] bg-orangess rounded-[4pt] sm:text-[14.5pt] md:text-[17pt] font-roboto-regular sm:mt-[4%] text-white md:mt-[22rem]">
            Reset Password
          </button>


        </div>


      </div>
    </div>
  </form>

</div>