<!-- Login Form -->
<form>
  <div class="mb-3">
    <label class="inline-block mb-2">Current Password</label>

    <app-input type="password" placeholder="Enter Current Password">
    </app-input>
  </div>
  <div class="mb-3">
    <label class="inline-block mb-2">New Password</label>
    <app-input type="password" placeholder="Enter Current Password">
    </app-input>
  </div>
  <div class="mb-3">
    <label class="inline-block mb-2">Confirm New Password</label>
    <app-input type="password" placeholder="Enter Current Password">
    </app-input>
  </div>
  <button
    type="submit"
    class="block w-full bg-cyan-400 text-white py-1.5 px-3 rounded transition hover:bg-cyan-500 disabled:opacity-50 disabled:bg-cyan-400"
  >
    Send Reset Link
  </button>
</form>
