<div>
  <app-chart-card></app-chart-card>
  <app-day-toggle-button></app-day-toggle-button>
  <app-food-section [category]="0">
    <div
      class="md:block absolute text-center z-10 flex w-full justify-between p-1"
      style="font-family: 'Lobster', cursive"
    >
      <div>
        <h5 class="text-4xl drop-shadow-md">BreakFast</h5>
      </div>
      <div class="self-end m-1 mr-5" *ngIf="auth.isAdmin()">
        <app-add-item-button
          link="/addfood/0"
          [state]="{
            selectedDay: food.selectedDay,
            category: 1,
            catName: 'BreakFast'
          }"
        ></app-add-item-button>
      </div>
    </div>

    <app-food-card
      *ngFor="let item of food.foodItemBreakFast"
      [cardId]="item.attributes.FoodName"
      [ngClass]="{ hidden: !food.isCardOpen(item.attributes.FoodName, 0) }"
      [imgUrl]="item.attributes.ImgUrl"
      [category]="0"
    >
    </app-food-card>
  </app-food-section>
  <app-food-section [category]="1">
    <div
      class="md:block absolute text-center z-10 flex w-full justify-between p-1"
      style="font-family: 'Lobster', cursive"
    >
      <div>
        <h5 class="text-4xl drop-shadow-md">Lunch</h5>
      </div>
      <div class="self-end m-1 mr-5" *ngIf="auth.isAdmin()">
        <app-add-item-button
          link="/addfood/1"
          [state]="{
            selectedDay: food.selectedDay,
            category: 2,
            catName: 'Lunch'
          }"
        ></app-add-item-button>
      </div>
    </div>

    <app-food-card
      *ngFor="let item of food.foodItemLunch"
      [cardId]="item.attributes.FoodName"
      [ngClass]="{ hidden: !food.isCardOpen(item.attributes.FoodName, 1) }"
      [imgUrl]="item.attributes.ImgUrl"
      [category]="1"
    >
    </app-food-card>
  </app-food-section>

  <app-food-section [category]="2">
    <div
      class="md:block absolute text-center z-10 flex w-full justify-between p-1"
      style="font-family: 'Lobster', cursive"
    >
      <div>
        <h5 class="text-4xl drop-shadow-md">High-Tea</h5>
      </div>
      <div class="self-end m-1 mr-5" *ngIf="auth.isAdmin()">
        <app-add-item-button
          link="/addfood/2"
          [state]="{
            selectedDay: food.selectedDay,
            category: 3,
            catName: 'HighTea'
          }"
        ></app-add-item-button>
      </div>
    </div>
    <app-food-card
      *ngFor="let item of food.foodItemSnacks"
      [cardId]="item.attributes.FoodName"
      [ngClass]="{ hidden: !food.isCardOpen(item.attributes.FoodName, 2) }"
      [imgUrl]="item.attributes.ImgUrl"
      [category]="2"
    >
    </app-food-card>
  </app-food-section>
</div>
