<div class="fixed inset-0 z-50">
  <div
    class="flex items-start justify-end min-h-screen"
    id="sidebar"
    (click)="toggle()"
  >
    <div class="w-44 overflow-y-auto mt-20 mr-2 py-4 px-3 bg-gray-200 rounded">
      <ul class="items-center space-y-2">
        <li>
          <a
            routerLink=""
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg "
          >
            <svg
              aria-hidden="true"
              class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
              <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
            </svg>
            <span class="p-0 w-24">Dashboard</span>
          </a>
        </li>

        <li>
          <a
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100"
          >
            <svg
              aria-hidden="true"
              class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z"
                clip-rule="evenodd"
              ></path>
            </svg>

            <a
              class="nav-link w-24 text-gray-900 hover:text-gray-700 focus:text-gray-700 p-0"
              routerLink="/booking"
              >Booking</a
            >
          </a>
        </li>
        <li>
          <a
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100"
          >
            <svg
              aria-hidden="true"
              class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <!-- <span class=" ml-3 ">FeedBack</span> -->
            <a
              class="nav-link w-24 text-gray-900 hover:text-gray-700 focus:text-gray-700 p-0"
              routerLink="/feedback"
              >Feedback</a
            >
          </a>
        </li>
        <li  *ngIf="auth.isAdmin()">
          <a
            class="flex items-center p-2 text-base font-normal text-gray-500 rounded-lg hover:bg-gray-100"
          >
            <fa-icon [icon]="InventoryIco"></fa-icon>
            <!-- <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900"  fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd"></path></svg> -->
            <!-- <span class=" ml-3 ">FeedBack</span> -->
            <a 
              class="nav-link pl-1 w-24 text-gray-900 hover:text-gray-700 focus:text-gray-700 p-0"
              routerLink="/foodInventory"
              >Inventory</a
            >
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
