<!-- <br />
<br />
<br /> -->
<div class="w-[100%] overflow-hidden relative">

    <div class="flex flex-col w-[100%]">
        <div class="h-[100pt] w-[100%] mt-[0rem] overflow-hidden">
            <img src="../../../assets/img/NavbarBg2.svg" height="100%" width="100%" alt="">
        </div>    
    </div>
    <div class="absolute top-[5.5rem] flex flex-col items-center text-center w-[100%]">
        <div class="  h-[80pt] w-[80pt] flex justify-center items-center"><img src="../../../assets/img/Male User.png" height="100%" width="100%" alt="" ></div>
        <div><p class="text-[20pt] text-[#FFFFFF] font-roboto-black">{{username}}</p> <p class="text-[16pt] text-[#FFFFFF] font-roboto-regular">Business Analyst</p></div>
    </div>

<div class="h-[90%] w-[100%] mt-[0rem] font-roboto-medium text-black flex flex-col items-center bg-[#3D484B]"> 
    <div class="flex items-center justify-between w-[305pt] p-[2rem] h-[10pt] mt-[8rem] text-left">
        <div class="h-[38pt] w-[38pt] p-[8px] bg-greyss text-mediumGreys flex items-center justify-center  rounded-[10pt]" [routerLink]="['/edit']"><img height="19pt" width="19pt" src="../../../assets/img/userAccount.svg" alt="UserAccount"></div>
        <div class="h-[20pt] w-[194pt]" [routerLink]="['/edit']"><p class="text-[16pt] text-[#FFFFFF] font-roboto-regular">Edit Profile</p></div>
        <div class="white"><img src="../../../assets/img/icon.png" [routerLink]="['/edit']" height="14pt" width="9pt"></div>
    </div>
    <div class=" flex items-center justify-between w-[305pt] p-[2rem] h-[10pt] mt-[1rem]">
        <div class="h-[38pt] w-[38pt] rounded-[10pt] bg-greyss flex items-center justify-center p-[8px]"><img height="22pt" width="18pt" src="../../../assets/img/passwordAccount.svg" alt="ChangePassword"></div>
        <div class="h-[20pt] w-[194pt]"><p class="text-[#FFFFFF] font-roboto-regular text-[16pt]" [routerLink]="['/changePassword']">Change Password</p></div>
        <div class="white"><img src="../../../assets/img/icon.png" [routerLink]="['/changePassword']" height="14pt" width="9pt"></div>
    </div>
    <div class=" flex items-center justify-between w-[305pt] p-[2rem] h-[10pt] mt-[1rem]">
        <div class="h-[38pt] w-[38pt] rounded-[10pt] bg-greyss p-[8px] flex items-center justify-center" [routerLink]="['/inviteFriend']"><img height="17pt" width="23pt" src="../../../assets/img/invitAccount.svg" alt="InviteAccount"></div>
        <div class="h-[20pt] w-[194pt]"><p class="text-[#FFFFFF] font-roboto-regular text-[16pt]" [routerLink]="['/inviteFriend']">Invite a Friend</p></div>
        <div class="white"><img src="../../../assets/img/icon.png" height="14pt" width="9pt" [routerLink]="['/inviteFriend']"></div>
    </div>
    <div class=" flex items-center justify-between w-[305pt] p-[2rem] h-[10pt] mt-[1rem]">
        <div class="h-[38pt] w-[38pt] rounded-[10pt] bg-greyss p-[8px] flex items-center justify-center"><img height="80pt" width="80pt" src="../../../assets/img/feedbackAccount.svg" alt="FeedbackAccount"></div>
        <div class="h-[20pt] w-[194pt]"><p class="text-[#FFFFFF] font-roboto-regular text-[16pt]" [routerLink]="['/Feedback']">Feedback</p></div>
        <div class="white"><img src="../../../assets/img/icon.png" [routerLink]="['/Feedback']" height="14pt" width="9pt"></div>
    </div>
    <div class=" flex items-center justify-between w-[305pt] p-[2rem] h-[10pt] mt-[1rem]">
        <div class="h-[38pt] w-[38pt] rounded-[10pt] bg-greyss p-[8px] flex items-center justify-center" [routerLink]="['/about']"><img height="20pt" width="20pt" src="../../../assets/img/aboutAccount.svg" alt="AboutAccount"></div>
        <div class="h-[20pt] w-[194pt]"><p class="text-[#FFFFFF] font-roboto-regular text-[16pt]" [routerLink]="['/about']">About</p></div>
        <div class="white"><img src="../../../assets/img/icon.png" height="14pt" width="9pt" [routerLink]="['/about']"></div>
    </div>
    <div class=" flex items-center justify-between w-[305pt] p-[2rem] h-[10pt] mb-[2rem] mt-[1rem]">
        <div class="h-[38pt] w-[38pt] rounded-[10pt] bg-greyss p-[8px] text-mediumGreys flex items-center justify-center"><img height="20pt" width="17pt" src="../../../assets/img/logoutAccount.svg" alt="LogoutAccount"></div>
        <div class="h-[20pt] w-[194pt]"><p class="text-[#FFFFFF] font-roboto-regular text-[16pt]" (click)="confirmModal()">Logout</p></div>
        <div class="white"><img src="../../../assets/img/icon.png" height="14pt" width="9pt" (click)="confirmModal()"></div>
    </div>
</div>

<div *ngIf="modal" class="w-[100%] h-[100%] flex flex-col justify-center items-center bg-transparent absolute top-[10%] rounded-[8pt] z-[999]">
    <div class="w-[275pt] h-[120pt] p-[1rem] bg-[#475356] rounded-[8pt]">
        <p class="text-[18pt] text-[#FFFFFF] font-roboto-black">Logout</p>
        <p class="text-[14pt] font-roboto-regular text-[#D4D4D4]">Are you sure you want to logout?</p>
        <div class="flex text-orangess text-[16pt] font-roboto-regular w-[100pt] justify-between p-[0.5rem] mt-[1rem] ml-[50%]">
            <p  (click)="logout()">OK</p><p (click)="confirm()">Cancel</p>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->
</div>
