.background {
    height: 100vh;
    width: 100vw;
    background-color: #3D484B;
    display: flex;
    align-items: center;
    flex-direction: column;


}


.nav-class {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8D8D8D;

}

.btn-cont {
    color: #333333;
    height: 20pt;
    width: 20pt;
    margin-left: 4%;
}

.input-box {
    margin-top: 4%;
    width: 86%;
    height: 70pt;
    margin-bottom: 5%;


}

.input-box-1 {
    margin-top: 4%;
    width: 86%;
    height: 30pt;
    display: flex;
    margin-left: 2%;


}

#input-id {
    margin-bottom: 5%;
}

.icon-box {
    background-color: white;
    height: 27pt;
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0.7%;
  
}

.menu-class {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    font-size: 12pt;
    margin-bottom: -6.5%;
    margin-top: -1.2%;
}

.shift {
    margin-left: 6.5%;
}

/* .checkbox {
    height: 20pt;
    width: 15pt; */
    /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 1px solid #fdfdfd;
    border-radius: 4px;
    background-color: #49565a; */
/* } */


/* input[type="checkbox"]:checked {
    
    background-color: #fc8019;
  } */


  /* input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 2px;
  } */


  .custom-select option{
    height: 35pt;
    width: 100pt;
   
  }


.btn-class {
    position: relative;
    top: 29%;
    left: 4%;
    font-size: 11.5pt;
}

.btn-class-1 {
    color: #8d8d8d;
    font-size: 14pt;
    float: right;
    position: absolute;
    top: 10.8%;
    left: 85%;

}

#box-3 #box-3-img {
    background-color: #FDF6EC;
}

#box-4 #box-4-img {
    background-color: #ffc5c4;
}

#box-5 #box-5-img {
    background-color: #FFC5C4;
}

#box-6 #box-6-img {
    background-color: #ffe17d9d;
    /* margin-left: -19%; */
   
}

#box-7 #box-7-img {
    background-color: #fafafa;
}

#box-8 #box-8-img {
    background-color: #fafafa;
}



.zeroClass {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxClass {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10pt;
    flex-direction: row;
}

.totalMenu {
    margin-top: 25.5%;
    margin-bottom: -19%;
   
}

.fa-lg {
    filter: invert(100%);
}
.checkbox {
    /* Hide the default checkbox */
    height: 20pt;
    width: 15pt;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border: 2px solid #606161;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
  }

  /* Custom checkbox styles - checked state */
  .checkbox:checked {
    background-color: #FC8019; /* Change this to your desired color */
    border-color: #FC8019; /* Change this to your desired color */
  }

  /* Custom checkbox styles - checkmark */
  .checkbox::after {
    content: "\2713";
    font-size: 16px;
    color: #FFF; /* Change this to your desired color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /* content: "\2713";
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 50%;
    display: none; */
  }

  /* Custom checkbox styles - checked state checkmark */
  .checkbox:checked::after {
    display: block;
  }
  