<div class="w-[100%] sm:h-[93vh] md:h-[98vh] flex flex-col bg-[#3D484B]">

  <nav class="w-[100%] sm:h-[40pt] md:h-[70pt] p-[1.8rem] flex items-center justify-between border-b-2 border-greyss bg-[#3D484B]">
    <div class="text-blackes h-[20pt] w-[20pt]">
      <button type="button" (click)="auth.backbutton()">
        <fa-icon class="fa-lg" [icon]="backArrow"></fa-icon>
      </button>
    </div>
    <div class="sm:w-[90%] md:w-[95%]">
      <h3 class="sm:text-[17pt] md:text-[22pt] text-[#FFFFFF] font-roboto-black">About</h3>
    </div>
  </nav>

  <div class="p-[2rem] w-[100%] sm:h-[95vh] md:h-[98vh]">
    <h3 class="font-roboto-black sm:text-[18pt] md:text-[27pt] text-[#FFFFFF]">About App</h3>
    <p class="text-[#D4D4D4] sm:text-[14pt] sm:mb-[2rem] md:text-[22pt] font-roboto-regular text-left sm:mt-[1rem] sm:leading-[17pt] md:leading-[27pt]">
      The canteen app is a comprehensive solution designed to enhance the
      overall dining experience by streamlining the process of accessing canteen
      services. It offers a user-friendly interface that enables users to view
      the time of breakfast, lunch, and snacks, along with the menu and pricing
      for each food item. <br> <br>
      In addition to providing menu information, the app
      allows users to send feedback on the food they have purchased, which can
      be used to improve the quality of the food and the overall dining
      experience for all users.
    </p>
  </div>
</div>
