<app-alert *ngIf="showAlert" [AlertType]="AlertType">
    {{ alertMsg }}
  </app-alert>
  < class="fixed inset-0 overflow-y-auto" id="modal">
  <div
    class="flex flex-col items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <div class="self-end m-1 mr-5">
      <app-back-button></app-back-button>
    </div>
  
    <div
      class="inline-block align-bottom bg-secondary rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-4 sm:align-middle sm:max-w-lg sm:w-full bg-white"
    >
      <!-- Add margin if you want to see some of the overlay behind the modal-->
      <div class="py-4 text-left px-12 bg-gray-100 mt-2">
        <p class="text-2xl font-bold text-center">Update Food</p>
        <!--Title-->
        <div class="flex justify-between items-center pb-4">
          <!-- Modal Close Button -->
        </div>
  
        <form [formGroup]="editFoodForm" (submit)="updateFood()">
          <!-- Name -->
          <div class="mb-3">
            <label class="inline-block mb-2"> Food Name</label>
            <app-input
              [control]="FoodName"
              placeholder="Enter Food Name"
            ></app-input>
          </div>
  
          <div class="mb-3">
            <label class="inline-block mb-2">Price</label>
            <app-input
              [control]="Price"
              type="number"
              placeholder="Enter Food Price"
            ></app-input>
          </div>
  
          <div class="mb-3">
            <label class="inline-block mb-2">Food Image</label>
            <app-input
              [control]="ImageUrl"
              placeholder="Enter Food Image"
            ></app-input>
          </div>
  
          <button
            type="submit"
            class="block w-full bg-cyan-400 text-white py-1.5 px-3 rounded transition hover:bg-cyan-500"
          >
            Update Food
          </button>
        </form>
      </div>
    </div>
  </div>
  