<!-- <div class="carousel-item active mx-2 my-2">
  <img
    src="https://cdn.britannica.com/98/235798-050-3C3BA15D/Hamburger-and-french-fries-paper-box.jpg"
    class=" rounded-lg "
    alt="Wild Landscape"
  />
</div> -->


<div class="carousel-inner  relative w-full overflow-hidden rounded-lg">
<!-- <a
  href="#"
  class="block mx-2 border border-gray-200 shadow-md hover:bg-gray-100 "
> -->
  <img
    [src]="imgUrl"
    
    class="rounded-lg w-full"
    alt="Wild Landscape"
  />
<!-- </a> -->
</div>


