<div
class="zeroClass">
<div [id]="category"
  class="boxClass md:ml-[1.5rem] sm:h-[40pt] sm:w-[43pt] xsm:h-[32pt] xsm:w-[32pt] xsm:p-[2pt] md:h-[55pt] md:w-[55pt] ">
  <img [src]="icon" height="100%" width="100%">
</div>
<div
  class="sm:w-[170pt] xsm:w-[130pt] md:w-[330pt] sm:h-[35pt] sm:leading-[16pt] md:leading-[22pt] sm:ml-[0.8rem] xsm:ml-[0.6rem]">
  <p class="font-roboto-black text-[#FFFFFF] sm:text-[13pt] md:text-[20pt] xsm:text-[10pt]">{{name}}</p>
  <p class="sm:text-[12pt] xsm:text-[10pt] md:text-[16pt] font-roboto-regular text-[#D4D4D4]">₹{{price}}</p>
</div>
<div class="sm:h-[3pt] sm:w-[4pt] xsm:h-[2pt] xsm:w-[3pt] kebab-class"><img src="../../../assets/img/ellipsisLatest.svg"
    height="90%" width="90%">  

  </div>
  </div>
 
  
