<app-alert *ngIf="showAlert" [AlertType]="AlertType">
  {{ alertMsg }}
</app-alert>

<!-- Auth Modal -->

<div class="fixed inset-0 overflow-y-auto" id="modal">
  <div
    class="flex flex-col items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <div class="self-end m-1 mr-5">
      <button
        type="button"
        class="text-cyan-700 border border-cyan-700 hover:bg-cyan-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-centerdark:text-blue-500"
        (click)="auth.backbutton()"
      >
        <fa-icon class="fa-lg" [icon]="backArrow"></fa-icon>
        <span class="sr-only">Icon description</span>
      </button>
    </div>

    <div
      class="inline-block align-bottom bg-secondary rounded-lg text-left shadow-xl transform transition-all sm:my-4 sm:align-middle sm:max-w-lg sm:w-full bg-white"
    >
      <div class="py-4 text-left px-12 bg-gray-100 mt-2">
        <p class="text-2xl font-bold text-center">Add Food</p>

        <div class="flex justify-between items-center pb-4"></div>
        <h1 class="">{{ routeState.catName }}</h1>
        <form [formGroup]="foodForm" (ngSubmit)="saveFood()">
          <div class="mb-3">
            <label class="inline-block mb-2">Date</label>

            <input
              class="block w-full px-3 py-1.5 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-400 ransition duration-500 focus:outline-none rounded bg-transparent focus:border-cyan-400 text-black"
              type="date"
              [value]="date.value"
              [formControl]="date"
            />
            <p>{{ date.value }}</p>
          </div>

          <div class="mb-3 z-50">
            <label class="inline-block mb-2">Food-Items</label>
            <ng-select
              class="block w-full px-3 py-1.5 bg-gray-100 bg-clip-padding bg-no-repeat border border-solid border-gray-400 ransition duration-500 focus:outline-none rounded bg-transparent focus:border-cyan-400 text-black"
              [items]="foodItemList"
              bindLabel="attributes.FoodName"
              bindValue="id"
              [multiple]="true"
              placeholder="Select items"
              [formControl]="foodList"
            >
            </ng-select>
          </div>

          <button
            type="submit"
            class="block w-full bg-cyan-400 text-white py-1.5 px-3 rounded transition hover:bg-cyan-500"
          >
            Add Food
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
