<app-alert *ngIf="showAlert" [AlertType]="AlertType">
  {{ alertMsg }}
</app-alert>

<!-- Auth Modal -->

<!-- <div class="self-end m-1 mr-5">
      2nd div class class="flex flex-col items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
      <button
        type="button"
        class="text-cyan-700 border border-cyan-700 hover:bg-cyan-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-centerdark:text-blue-500"
        (click)="auth.backbutton()"
      >
        <fa-icon class="fa-lg" [icon]="backArrow"></fa-icon>
        <span class="sr-only">Icon description</span>
      </button>
    </div> -->
<!-- <ul class="flex flex-wrap">
      <li class="flex-auto text-center">
        <a
          class="block rounded py-3 px-4 mx-2 transition hover:text-white text-white bg-cyan-400"
          routerLink="/changePassword"
          >Change Password</a
        >
      </li>
      <li class="flex-auto text-center">
        <a
          class="block rounded py-3 px-4 transition hover:text-white text-white bg-cyan-400"
          routerLink="/forgotPassword"
          >Forgot Password</a
        >
      </li>
    </ul>

<!-- rounded tab shadow -->
<!-- <div
      class="inline-block align-bottom bg-secondary rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-4 sm:align-middle sm:max-w-lg sm:w-full bg-white"
    >
      Add margin if you want to see some of the overlay behind the modal
      <div class="py-4 text-left px-12 bg-gray-100 mt-2">
        <p class="text-2xl font-bold text-center">Edit Profile</p>
        Title
        <div class="flex justify-between items-center pb-4">
          Modal Close Button
        </div>

        <form [formGroup]="EditForm">
          Name
          <div class="mb-3">
            <label class="inline-block mb-2">Name</label>
            <app-input [control]="username" placeholder="Enter Name">
            </app-input>
          </div>
          Email
          <div class="mb-3">
            <label class="inline-block mb-2">Email</label>
            <app-input [control]="email" placeholder="Enter Email"> </app-input>
          </div>

          <div class="mb-3">
            <label class="inline-block mb-2">Organization</label>
            <select
              name="Organization"
              id=""
              class="form-select-lg mb-3 block w-full px-3 py-1.5 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-cyan-400 text-black"
            >
              <option disabled selected value="Select Organiztion">
                Select Organiztion
              </option>
              <option *ngFor="let m of OrgList">
                {{ m.attributes.OrgName }}
              </option>
              <option value="New Vision">Core Card</option>
            <option value="New Vision">GTS</option>
            </select>
          </div>
          Employee Id
          <div class="mb-3">
            <label class="inline-block mb-2">Employee Id</label>
            <app-input
              [control]="EmployeeId"
              type="text"
              placeholder="Enter Employee Id"
            >
            </app-input>
          </div>

          <button
            (click)="update()"
            type="submit"
            class="block w-full bg-cyan-400 text-white py-1.5 px-3 rounded transition hover:bg-cyan-500"
          >
            Update
          </button>
        </form>
      </div>
    </div> -->

<div class="w-[100%] sm:h-[100%] md:h-[105vh] flex flex-col items-center bg-[#3D484B]">
  <nav
    class="w-[100%] h-[40pt] p-[1.8rem] flex items-center justify-between border-b-2 border-greyss bg-[#3D484B]"
  >
    <div class="sm:h-[20pt] sm:w-[18pt] md:h-[20pt]">
      <button type="button" (click)="auth.backbutton()">
        <fa-icon class="fa-lg" [icon]="backArrow"></fa-icon>
      </button>
    </div>
    <div class="sm:w-[90%] md:w-[95%] flex justify-between items-center">
      <h3 class="text-[18pt] text-[#FFFFFF] font-roboto-black">Edit Profile</h3>
    </div>
  </nav>

  <div class="h-[90pt] w-[90pt] mt-[2rem] flex relative">
    <img
      src="../../../assets/img/userEditprofile.svg"
      alt="user"
      height="100%"
      width="100%"
    />
    <img
      src="../../../assets/img/editProfil icon.svg"
      alt=""
      height="27pt"
      width="27pt"
      class="absolute bottom-[0.2rem] right-[0.3rem]"
    />
  </div>

  <form
    [formGroup]="EditForm"
    class="mt-[3rem] mb-[3rem] w-[100%] sm:h-[102vh] md:h-[105vh] p-[0.4rem] flex flex-col items-center"
  >
    <!-- Employee Id -->
    <div class="sm:mt-[2rem] sm:w-[94%] md:w-[95%]">
      <label
        class="sm:text-[14pt] md:text-[20pt] text-[#D4D4D4] font-roboto-regular mb-[2rem]"
        >Employee Id</label
      >
      <app-input
        [control]="EmployeeId"
        class="text-Greyess text-[14pt] bg-lightGreys w-[100%] sm:h-[40pt] md:h-[60pt] rounded-[4pt]"
        type="text"
        placeholder="Enter Employee Id"
      ></app-input>
    </div>
    <!-- Name -->
    <div class="sm:mt-[2rem] sm:w-[94%] md:w-[95%]">
      <label
        class="sm:text-[14pt] md:text-[20pt] text-[#D4D4D4] font-roboto-regular mb-2"
        >Name</label
      >
      <app-input
        [control]="username" 
        
        class="text-Greyess text-[14pt] bg-lightGreys sm:h-[40pt] md:h-[50pt] w-[100%] rounded-[4pt]"
        placeholder="Enter Name"
      >
      </app-input>
    </div>
    <!-- Email -->
    <div class="sm:mt-[2rem] sm:w-[94%] md:w-[95%]">
      <label
        class="sm:text-[14pt] md:text-[20pt] text-[#D4D4D4] font-roboto-regular mb-2"
        >Email</label
      >
      <app-input
        [control]="email"
        class="text-Greyess text-[14pt] bg-lightGreys w-[307pt] h-[40pt] rounded-[4pt]"
        placeholder="Enter Email"
      >
      </app-input>
    </div>

    <div class="flex flex-col sm:mt-[2rem] sm:w-[94%] md:w-[95%]">
      <label class="sm:text-[14pt] md:text-[20pt] text-[#D4D4D4] font-roboto-regular">Organization</label>
      <select name="Organization" class="w-[100%] h-[40pt] text-darkgreyss border-2 border-greyss rounded-[4pt] bg-white">
        <option disabled selected value="Select Organiztion" class=" text-[14pt] w-[90%] text-[#D4D4D4] rounded-[4pt] bg-white">
          Select Organiztion
        </option>
        <option *ngFor="let m of OrgList" class="text-Greyess text-[14pt] bg-white w-[90%]">
          {{ m.attributes.OrgName }}
        </option>
        <option value="New Vision" class="text-Greyess text-[14pt] bg-white overflow-hidden">
          Core Card
        </option>
        <option
          value="New Vision"
          class="text-Greyess text-[14pt] bg-white overflow-hidden"
        >
          GTS
        </option>
      </select>
    </div>
    <button
      (click)="update()"
      type="submit"
      class="sm:h-[3rem] md:h-[4rem] sm:w-[95%] md:w-[90%]  bg-orangess rounded-[4pt] sm:text-[16pt] md:text-[17pt] font-roboto-black text-white sm:mt-[8rem] md:mt-[12rem]"
    >
      Save
    </button>
  </form>
</div>
