<app-alert *ngIf="showAlert" [AlertType]="AlertType">
  {{ alertMsg }}
</app-alert>

<div class="fixed inset-0 overflow-y-auto" id="modal">
  <div
    class="flex flex-col items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <div class="pt-16 lg:mr-[95%] md:pt-16 md:mr-[95%] self-end m-1 mr-5">
      <app-back-button> </app-back-button>
    </div>

    <div
      class="border-2 border-cyan-700 lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white inline-block align-bottom bg-secondary text-left overflow-hidden transform transition-all sm:my-4 sm:align-middle sm:max-w-lg sm:w-full"
    >
      <div class="py-4 text-left px-12 bg-gray-100">
        <p class="text-2xl font-bold text-center">Edit Profile</p>
        <div class="flex justify-between items-center pb-4"></div>

        <form [formGroup]="EditForm">
          <div class="mb-3">
            <label class="inline-block mb-2">Name</label>
            <app-input [control]="username" placeholder="Enter Name">
            </app-input>
          </div>
          <div class="mb-3">
            <label class="inline-block mb-2">Email</label>
            <app-input [control]="email" placeholder="Enter Email"> </app-input>
          </div>

          <div class="mb-3">
            <label class="inline-block mb-2">Organization</label>
            <select
              name="Organization"
              id=""
              class="form-select-lg mb-3 block w-full px-3 py-1.5 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-cyan-400 text-black"
            >
              <option disabled selected value="Select Organiztion">
                Select Organiztion
              </option>
              <option *ngFor="let m of OrgList">
                {{ m.attributes.OrgName }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label class="inline-block mb-2">Employee Id</label>
            <app-input
              [control]="EmployeeId"
              type="number"
              placeholder="Enter Employee Id"
            >
            </app-input>
          </div>

          <button
            (click)="update()"
            type="submit"
            class="block w-full bg-cyan-400 text-white py-1.5 px-3 rounded transition hover:bg-cyan-500"
          >
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
