.white{
    background-color: white;
 
    z-index: 999;
    outline: none;
}



.hide-button {
  background: transparent;
}


  .disable-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .blurry-button {
    background-color: orange-500;
    filter: blur(2px);
    cursor: not-allowed;
  }
  
  .clear-button {
    background-color: orange-500; /* Replace with your desired color */
    /* filter: none; */
    cursor: pointer;
  }
  .fa-lg{
    filter: invert(100%);
}

.eyeIcon {
    /* position: absolute; */
    right: 50px;
    top: 53%;
    
    float: right;
    color: #666666;
}


.modal-close-button {
    position: absolute;
    /* top: 10px; */
    right: 12%;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
  }