.white{
    background-color: white;
 
    z-index: 999;
    outline: none;
}



.hide-button {
  background: transparent;
}


  .disable-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .blurry-button {
    background-color: orange-500;
    filter: blur(2px);
    cursor: not-allowed;
  }
  
  .clear-button {
    background-color: orange-500; /* Replace with your desired color */
    /* filter: none; */
    cursor: pointer;
  }