<app-alert *ngIf="showAlert" [AlertType]="AlertType">
  {{ alertMsg }}
</app-alert>
<!-- Login Form -->
<!-- <form [formGroup]="loginForm" (ngSubmit)="authenticate()">

  <div class="mb-3" id="email">
    <label class="inline-block mb-2">Email</label>
    <app-input [control]="email" type="text" placeholder="Enter Email">
    </app-input>
  </div>
  
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <app-input [control]="password" type="password" placeholder="Password">
    </app-input>
  </div>

  <button type="submit" 
    class="block w-full bg-cyan-400 text-white py-1.5 px-3 rounded transition hover:bg-cyan-500 disabled:opacity-50 disabled:bg-cyan-400">
    Submit
  </button>

</form> -->




<!-- new updated design of loginForm -->
<div class="absolute top-0 left-0 h-[100%] w-[100%] bg-gradient-to-b from-[#3D484B38] to-[#3D484B] opacity-[100%] z-10">
</div>

<div class="w-[100%] sm:min-h-[100%] flex flex-col items-center md:min-h-[100%] bg-gradient-to-b from-[#3D484B38] to-[#3D484B] bg-no-repeat bg-center bg-cover bg-fixed" style="background-image: url('../../../assets/img/login_background.svg'); background-size: 110%; overflow: hidden;">
  <div class="h-[100pt] w-[100%] mt-[0rem] overflow-hidden relative flex flex-col items-center justify-center object-cover">
    <!-- <img src="../../../assets/img/navbarBg.svg" height="100%" width="100%" alt=""> -->
    <div class="absolute h-[70pt] w-[80%] top-[1rem] flex p-[0.5rem] items-center justify-center z-20">
      <img src="../../../assets/img/canteenApp.png"  height="100%" width="100%" alt="">
    </div>
</div>
      
  <div id="heading part" class="w-[100%] mb-[1rem] p-[2rem] z-20">
    <p class="text-[22pt] font-roboto-black text-[#FFFFFF]">Login</p>
    <p class="text-[14pt] text-[#D4D4D4] font-roboto-regular">Enter your Credentials to Continue.</p>
  </div>

    <form [formGroup]="loginForm" (ngSubmit)="authenticate()" class="flex flex-col items-center w-[100%] p-[2rem]">
      
      <div class="mb-3 w-[100%] z-20" id="email">
          <label class="inline-block mb-2 text-[14pt] text-[#D4D4D4] font-roboto-regular">Email <span class="text-[#FF2F2F]">*</span> </label>
          <app-input [control]="email" type="text" placeholder="Enter Email " class="h-[40pt] w-[100%] white"></app-input>
      </div>
    
    <div class="mb-3 w-[100%] z-20 relative">
      <label class="inline-block mb-2 text-[14pt] text-[#D4D4D4] font-roboto-regular">Password <span class="text-[#FF2F2F]">*</span> </label>
      <app-input [control]="password" [type]="show ? 'text' : 'password'" type="password" placeholder="Password" class="h-[40pt] w-[100%] bg-white white"></app-input>
      <div class="absolute top-[3rem] right-[1.5rem]" (click)="passwordHide()"><img src="../../../assets/img/awesome-eye-slash.svg" alt=""></div>
      <p class=" text-right text-[12pt] text-orangess font-roboto-regular">Forgot Your Password?</p>
    </div>
    <!-- [routerLink]="['/forgotPassword']" -->
    <button type="submit" 
      class="block mt-[8.2rem] z-20 w-[95%] bg-orangess text-white py-1.5 px-3 rounded transition hover:bg-orange-500 font-roboto-regular text-[16pt]">
      Login
    </button>
    
  </form>

  <div class="mt-[-1.2rem] z-20">
    <p class="text-[14pt] font-roboto-regular text-[#FFFFFF]">Haven't Registered? <span class="text-orangess" routerLink="/registerComponent">Register Here</span></p>
  </div>
</div>