<!-- Login Form -->
<form>
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <app-input type="email" placeholder="Enter Email"> </app-input>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>

    <app-input type="password" placeholder="Password"> </app-input>
  </div>
  <button
    type="submit"
    class="block w-full bg-cyan-400 text-white py-1.5 px-3 rounded transition hover:bg-cyan-500 disabled:opacity-50 disabled:bg-cyan-400"
  >
    Submit
  </button>
</form>
