/* div .active{
background-color: #FC8019;
}

p .active{
color: #FC8019;
background-color: #FC8019;
} */


.active{
    color: #FC8019;
}

.img{
    margin-left: 15%;
    margin-top: 5%;
}
.img-1{
    margin-left: 32%;
    margin-top: 15%;

}
.para{
    margin-left: -15%;
    margin-top: 4%;
    
}

.para-1{
    margin-left: 2%;
    margin-top: 7%;
}