<div class="h-[63pt] w-[100%] fixed bottom-[0rem] items-center justify-evenly flex bg-darkesgreys border border-[#CCCCCC] ">
    <div class="first" ng class="h-[45pt] flex flex-col items-center w-[70pt] p-[5px]" [routerLink]="'/dashbord-modal'" routerLinkActive="active" >
         <img class="img" src="../../../assets/img/Group 4049.svg" height="32pt" width="32pt" alt="" >
         
         <p class="para text-mediumGreys font-roboto-black text-[14pt] ">Dashboard</p>
        </div>
    <div class="second" [ngClass]="{'active': isActive}" class="h-[45pt] flex flex-col items-center w-[70pt] mt-[3%] p-[5px] " [routerLink]="'/Account'" routerLinkActive="active">
        <img src="../../../assets/img/Icon material-account-box (1).svg" height="26pt" width="26pt" alt="" > 
          
        <p class="para-1 text-mediumGreys font-bold text-[15pt] mb-[5%]">Account</p>
    </div>
</div>