<!-- <div class="h-[52pt] w-[100%] fixed bottom-[0rem] items-center justify-evenly flex bg-darkesgreys border border-[#CCCCCC] ">
    <div class="first"  class="h-[45pt] flex flex-col items-center w-[70pt] p-[5px]" [routerLink]="'/dashbord-modal'" routerLinkActive="active">
         <img class="img" src="../../assets/img/Group 4049.svg" height="30pt" width="30pt" alt="" >
         
         <p class="tracking-wide para text-mediumGreys font-roboto-black text-[12pt] ">Dashboard</p>
        </div>
    <div class="second" [ngClass]="{'active': isActive}" class="h-[45pt] flex flex-col items-center w-[70pt] mt-[3%] p-[5px] " [routerLink]="'/Account'" routerLinkActive="active">
        <img src="../../assets/img/footer-account-icon.svg" height="22pt" width="22pt" alt="" > 
          
        <p class="para-1 text-mediumGreys font-bold text-[13pt] mb-[5%] mt-[3%]">Account</p>
    </div>
</div> -->


<div class="h-[52pt] w-[100%] fixed bottom-[0rem] items-center justify-evenly flex bg-darkesgreys border border-[#CCCCCC]">
  <div class="first" [routerLink]="'/'" (click)="setActive('dashboard') " [class.active]="isActive('dashboard')">
    <img class="img" [src]="isActive('dashboard') ? '../../assets/img/Home-removebg-preview.png' : '../../assets/img/Group 4049.svg'" height="30pt" width="30pt" alt="">
    <p  [class.active]="isActive('dashboard')" [ngClass]="isActive('dashboard') ? 'text-[#FC8019]': 'text-mediumGreys'" class="tracking-wide para text-mediumGreys font-roboto-black text-[13pt] ml-[2%] items-center">Dashboard</p>
  </div>
  <div class="second" [routerLink]="'/Account'" (click)="setActive('account')" [class.active]="isActive('account')">
    <img class="img-1" [src]="isActive('account') ? '../../assets/img/Icon material-account-box.jpg' : '../../assets/img/footer-account-icon.svg'" height="22pt" width="22pt" alt="">
    <p [class.active]="isActive('account')" [ngClass]="isActive('account') ? 'text-[#FC8019]': 'text-mediumGreys'" class="tracking-wide para-1 text-mediumGreys font-bold text-[13pt] mb-[5%] mt-[3%]">Account</p>
  </div>
</div>



 