<div class="flex  items-center justify-center p-12 pt-20">
    

    <div class="mx-auto lg:pt-20 md:pt-28 w-full max-w-[550px]">
    <h2 class="text-center text-3xl pb-4 " >Emergency Booking</h2>

      <form action="https://formbold.com/s/FORM_ID" method="POST">
        <div class="-mx-3 flex flex-wrap">
            
         
          
        </div>
        <div class="-mx-3 flex flex-wrap">
          <div class="w-full px-3 sm:w-1/2">
            <div class="mb-5">
              <label
                for="date"
                class="mb-3 block text-base font-medium text-[#07074D]"
              >
                Date
              </label>
              <input
                type="date"
                name="date"
                id="date"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
            </div>
          </div>
          <div class="w-full px-3 sm:w-1/2">
            <div class="mb-5">
              <label
                for="time"
                class="mb-3 block text-base font-medium text-[#07074D]"
              >
                Time
              </label>
              <input
                type="time"
                name="time"
                id="time"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
            </div>
          </div>
        </div>
  
        <div class="mb-5">
      
          <div class="flex items-center space-x-6">
            <div class="flex items-center">
              <input
                type="checkbox"
                name="radio1"
                id="radioButton1"
                class="h-5 w-5"
              />
              <label
                for="radioButton1"
                class="pl-3 text-base font-medium text-[#07074D]"
              >
              Are you sure you want to book?
              </label>
            </div>
           
          </div>
        </div>
  
        <div>
          <button
            class="hover:shadow-form rounded-md bg-cyan-500 py-3 px-8 text-center text-base font-semibold text-white outline-none"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>